# Sentry Configuration (Optional for local builds; required if uploading sourcemaps locally)
# SENTRY_AUTH_TOKEN=your_sentry_auth_token_here
# SENTRY_DISABLE_AUTO_UPLOAD=true

# OpenPanel Analytics (Optional)
# EXPO_PUBLIC_OPENPANEL_CLIENT_ID=your_openpanel_client_id
# EXPO_PUBLIC_OPENPANEL_API_URL=https://openpanel.gventureshq.com/api

# Test Ads Flag (true/false)
# EXPO_PUBLIC_SHOW_TEST_ADS=true

# Revenuecat
# EXPO_PUBLIC_REVENUECAT_API_KEY_ANDROID=revenue_cat_api
# EXPO_PUBLIC_REVENUECAT_API_KEY_IOS=revenue_cat_api
# EXPO_PUBLIC_REVENUECAT_API_KEY_WEB=revenue_cat_api
